@model IEnumerable<Room>
@{
    ViewData["Title"] = "Управление номерами";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#buttonDemo1').click(function () {
            var HotelId = $('#selectHotel').val();
            $.ajax({
                type: 'GET',
                url: '/Room/GetFilter/' + HotelId,
                success: function (rooms) {
                    var s = '<ul>';

                    for (var i = 0; i < rooms.length; i++) {
                        s += '<li>' + rooms[i].number + '</li>';
                    }

                    s += "</ul>"

                    $('#result1').html(s);
                }
            });
        });
    })
</script>

<div class="text-center">
    <a href="~/Admin/Index">Назад</a>
    <h3>Номера</h3>
</div>

<fieldset>
    <form>
        <div class="form-group">
            <select class="custom-select" id="selectHotel">
                @foreach (Hotel spec in ViewBag.Hotels)
                {
                    <option value=@spec.Id.ToString()>@spec.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Показать" id="buttonDemo1" />
        </div>

        <div class="form-group">
            <span id="result1" />
        </div>
    </form>
</fieldset>

<div class="text-center">
    
    <table class="table">
        <tr>
            <th>Идентификатор номера</th>
            <th>Отель номера</th>
            <th>Категория номера</th>
            <th>Номер</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        @if (Model != null)
        {
            @foreach (var room in Model)
            {
                <tr>
                    <td>@room.Id</td>
                    <td>@room.Hotel.Name</td>
                    <td>@room.Category.Name</td>
                    <td>@room.Number</td>
                    <td><a href="~/Room/Edit/@room.Id">Изменить</a></td>
                    <td><a href="~/Room/ConfirmDelete/@room.Id">Удалить</a></td>
                </tr>
            }
        }

    </table>
    <a href="~/Room/AddWithoutHotel/">Добавить номер</a>
</div>
