@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Управление сотрудниками";
}
<div class="text-center">
    <a href="~/Admin/Index">Назад</a>
    <h3>Сотрудники</h3>
    <table class="table">
        <tr>
            <th>Идентификатор сотрудника</th>
            <th>Отель сотрудника</th>
            <th>Специализация сотрудника</th>
            <th>ФИО сотрудника</th>
            <th>Номер телефона сотрудника</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        @if (Model != null)
        {
            @foreach (var empl in Model)
            {
                <tr>
                    <td>@empl.Id</td>
                    <td>@empl.Hotel.Name</td>
                    <td>@empl.Specialization.Name</td>
                    <td>@empl.Name</td>
                    <td>@empl.PhoneNumber</td>
                    <td><a href="~/Employee/Edit/@empl.Id">Изменить</a></td>
                    <td><a href="~/Employee/ConfirmDelete/@empl.Id">Удалить</a></td>
                </tr>
            }
        }

    </table>
    <a href="~/Employee/AddWithoutHotel/">Добавить сотрудника</a>
</div>
